<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if lte IE 9]><link rel="stylesheet" href="http://sitemedia.notyourwork.com/madman/css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="http://sitemedia.notyourwork.com/madman/css/1140.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://sitemedia.notyourwork.com/madman/css/styles.css" type="text/css" media="screen" />
    <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
    <script type="text/javascript" src="http://sitemedia.notyourwork.com/madman/js/css3-mediaqueries.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Delius' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="container header">
    <div class="row">
        <div class="fivecol title">
            <h1>The WormHole</h1>
        </div>
        <div class="sevencol last">
            <div class="userBox">
                <p>user account stuff</p>
            </div>
        </div>
    </div>
</div>

<div class="container"> 
    <div class="row">
        <div class="threecol navigation">
        </div> 
        <div class="fivecol"> 
            this is a 403 page 
        </div> 
        <div class="fourcol last"> 
            <img src="http://sitemedia.notyourwork.com/madman/worm.gif" />
        </div> 
    </div> 
</div> 


</body>

</html>
