<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if lte IE 9]><link rel="stylesheet" href="http://sitemedia.notyourwork.com/madman/css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="http://sitemedia.notyourwork.com/madman/css/1140.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://sitemedia.notyourwork.com/madman/css/styles.css" type="text/css" media="screen" />
    <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
    <script type="text/javascript" src="http://sitemedia.notyourwork.com/madman/js/css3-mediaqueries.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Delius' rel='stylesheet' type='text/css'>
   
    <link rel="stylesheet" href="http://sitemedia.notyourwork.com/madman/css/jquery/themes/custom-theme/jquery.ui.all.css"> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://sitemedia.notyourwork.com/madman/js/jquery/ui/jquery.ui.core.min.js" type="text/javascript"></script> 
    <script src="http://sitemedia.notyourwork.com/madman/js/jquery/ui/jquery.ui.widget.min.js" type="text/javascript"></script> 
    <script src="http://sitemedia.notyourwork.com/madman/js/jquery/ui/jquery.ui.accordion.min.js" type="text/javascript"></script> 
    <script src="http://sitemedia.notyourwork.com/madman/js/jquery/ui/jquery.ui.position.min.js"></script>
    <script src="http://sitemedia.notyourwork.com/madman/js/jquery/ui/jquery.ui.autocomplete.min.js"></script>
    <script src="http://sitemedia.notyourwork.com/madman/js/jquery/ui/jquery.ui.button.min.js"></script>    
    <script>
    $(function() {
        $( "input:submit, a, button", ".demo" ).button();
        $( "a", ".demo" ).click(function() { return false; });
    });
    </script>

</head>

<body>

<div class="container header">
    <div class="row">
        <div class="fivecol title">
            <h1>The WormHole</h1>
        </div>
        <div class="sevencol last">
            <div class="userBox">
                <p>user account stuff</p>
                <a href="login">Login</a>
                
            </div>
        </div>
    </div>
</div>

<div class="container"> 
    <div class="row">
        <div class="twocol navigation demo">
            <a href="">test</a>
            <a href="">test</a>
            <a href="">test</a>
        </div> 
        <div class="fivecol"> {{ file_stats }}
            <h1>Media Locations</h1>
            {% if current_locations %}
                <ul>
                {% for location in current_locations %}
                    <li><a href="/madman/location/{{ location.id }}/">{{ location.name }}</a> (<a href="/madman/type/{{ location.mediaType.id }}/">{{ location.mediaType }}</a>) </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No media locations defined right now.</p>
            {% endif %}
            <h1>Last like 5 files or so </h1>
            {% if latest_file_list %}
                <ul>
                {% for file in latest_file_list %}
                    <li><a href="/madman/file/{{ file.id }}/">{{ file.name }}</a></li>
                {% endfor %}
                </ul>
                <p><em><a href="/madman/list/file/">List files here</a></em></p>
            {% else %}
                <p>No files right now.</p>
            {% endif %}        
        </div> 
        <div class="fivecol last"> 
            <img src="http://sitemedia.notyourwork.com/madman/worm.gif" />
        </div> 
    </div> 
</div> 


</body>

</html>
