{% extends "base.html" %}

{% block title %}Madman Homepage{% endblock %}


{% block sidenavigation %}
<a href="">madman/file.html Navigation Items added</a>
{% endblock %}

{% block content %}


<!-- {{dump}} -->
<div class="grid_16">
    <h1>{{file.get_fullname}}</h1>

</div>
<div class="grid_8"> 
    <a href="{% url admin:madman_mediafile_change file.pk %}">Edit</a>
    <p>location:<a href="{{ file.location.get_absolute_url }}">{{file.location}}</a></p>
    <p>size: {{file_size}}</p>
    <p>created: {{ file.created_time }} 
    <p>updated: {{file.updated_time}}</p>
</div> 

{% endblock %}

